.expPoints {
    font-size: 150%;
    display: inline-block;
}


.expPoints.normal {
    transition: 0.5s;
}

.expPoints.powerup {
    transform: scale(1.5);
}
.expPoints.normal .icon {
    transition: 0.5s;
}

.expPoints.powerup .icon {
    transform: scale(1.1) rotate(360deg);
    transition: 0.1s;
}
