@import url('https://fonts.googleapis.com/css2?family=Lato&family=Atma&family=Swarabari+Mincho&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Swarabari Mincho, serif;
    line-height: 1.6;
    font-size: 18px;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #445588;
}




h1, h2, h3, label, input, select, .dropdown {
    font-family: Lato, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 1.5em;
    /*color: #777;*/
    color: #001130;
}

#__next {
    flex-grow: 1;
    min-height: 100vh;
}

nav.ui.menu {
    margin: 0 1rem;
}

.main > .ui.header {
    margin: 0 1rem;
}

main > header {
    margin-top: 1.5em !important;
    margin-bottom: 2em !important;
}

.main  {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    padding: 0;
}

.main > main {
    flex: 1;
    margin: 0 3rem;
}
a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}


.site-title {
    font-size: 1.5em;
    font-family: Atma, sans-serif;
}

header .site-title img {
    max-height: 50px;
    display: inline;
}

header .site-title span {
    vertical-align: super;
}

.error {
    background-color: pink;
    border: solid 3px rgba(0, 0, 0, 0.1);
}



.bang {
    font-variant: italic;
    color: red;
    font-size: larger;
    font-weight: bolder;
}


strong {
    color: #008080;
}


form {
    margin-bottom: 2em;
}


.ui.container.main {
  background-color: #eef0ff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="email"] {
    background-color: #fbfbfe !important;
}


@media only screen and (max-width: 991px) {
    .ui.container.main {
        width: 100% !important;
        margin: 0 !important;
    }
}
