.option {
    display: flex;
    flex-direction: column;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    min-width: 5em;
    border-radius: 5px;
}

.playButton {
    margin: auto;
}

.optionText {
    text-align: center;
}

.indicator {
    height: 1em;
    margin-top: 2px;
}

.indicator.selected {
    background-color: teal;
}
