.item {
    userSelect: none;
    padding: 1em;
    margin: 0 0.5em 0 0;
    background: white;
    text-align: center;
    font-size: 200%;
}

.dragging {
    background: rgba(150, 255, 130, 0.5);
    outline: dashed 2px lightblue;
}

.item:hover {
    background: rgba(200, 255, 200, 0.5);
}


.list {
    background: lightgrey;
    display: flex;
    padding: 1em;
    overflow: auto;
}

.draggingOver {
    background: lightblue;
    transition: 0.5s;

}
