.item {
    user-select: none;
    padding: 1em;
    margin: 0 0.5em 0 0;
    background: white;
    text-align: center;
    font-size: 200%;
}

.dragging {
    background: rgba(150, 255, 130, 0.5);
    outline: dashed 2px lightblue;
}

.item:hover {
    background: rgba(200, 255, 200, 0.5);
}


.list {
    background: #eff;
    border: solid #ddd 1px;
    display: flex;
    padding: 1em;
    overflow: auto;
    flex-direction: row;
}

.draggingOver {
    background: lightblue;
    transition: 0.5s;

}


@media only screen and (max-width: 991px) {
    .item {
        margin: 0 0 0.5em 0;
    }
    .list {
            flex-direction: column;
    }
}
