
.status-area {
    display: flex;
    justify-content: center;
}

.status-area {
    font-size: 300%;
    margin: 1em auto;
}

.status-area span {
    display: inline-block;
    margin: 1em auto;
}

.status-area img {
    max-width: 100px;
    max-height: 100px;
}
